{{ 'celebrity.css' | asset_url |  stylesheet_tag }}
<div class="celebrity-div">
    <h2 class="celebrity-title">WORN BY CELEBRITIES</h2>
    <div class="carousel-container">
        <div class="celebrity-carousel">
            {% for block in section.blocks %}
                <div class="celebrity-box">
                    <img src="{{ block.settings.image | img_url: '480x480' }}" alt="Celebrity Image">
                    <div class="celeb-text">
                        <h4 class="celeb-title">{{ block.settings.celeb_title }}</h4>
                        <p class="celeb-text-content">{{ block.settings.celeb_text_content }}</p>
                        <div class="celebrity-name-div">
                            <h3 class="celeb-name">{{ block.settings.celeb_name }}</h3>
                            <p>
                                {% render 'icon-tick' %}
                                Verified Customer
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="carousel-buttons">
            <button class="carousel-button prev-button">&lt;</button>
            <button class="carousel-button next-button">&gt;</button>
        </div>
    </div>
</div>





{% schema %}
    {
        "name": "Celebrity Section",
        "settings": [],
        "blocks": [
            {
                "type": "celebrity_box",
                "name": "Celebrity Box",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Celebrity Image"
                    },
                    {
                        "type": "text",
                        "id": "celeb_title",
                        "label": "Celebrity Title",
                        "default": "Lorem ipsum dolor sit amet consectetur"
                    },
                    {
                        "type": "textarea",
                        "id": "celeb_text_content",
                        "label": "Celebrity Text Content",
                        
                    },
                    {
                        "type": "text",
                        "id": "celeb_name",
                        "label": "Celebrity Name",
                        "default": "Name"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Default",
                "category": "Custom"
            }
        ]
    }
    {% endschema %}
    